* {
    margin: 0;
    padding: 0;
}
body {
    background-color: #012043;
}
.corpo{
    padding-left: 500px;
    padding-top: 30px;
}
.buscarPersonagem{
    background-color:  #D34646;
    height: 60px;
    width: 200px;
    padding: 15px;
    padding-bottom: 15px;
    margin-bottom: 15px;
    border-radius: 5px;
    border-top-right-radius: 15px;
}
#idPokemon{
    text-align: center;
    font-weight: bold;
    border-radius: 10px;
    width: 190px;
    height: 20px;
    margin-bottom: 10px;
    padding-left: 5px;
}
#buttonBuscarPersonagem{
    border-radius: 20px;
    width: 200px;
    height: 25px;
    font-weight: bold;
}
.personagem{
    background-color: #D34646;
    width: 190px;
    height: 210px;
    padding: 10px;
    border-radius: 5px;
    border-top-right-radius: 15px;
    margin-left: 10px;
}
#ledPokedex{
    background-color: rgb(113, 36, 228);
    width: 20px;
    height: 20px;
    border-radius: 30px;
    border: solid 2px black;
}
#imgPersonagem{
    background-color: rgb(217, 228, 237);
    width: 160px;
    height: 100px;
    margin-top: 10px;
    margin-left: 10px;
    border: solid 4px white;
    border-radius: 5px;
    border-bottom-left-radius: 30px;
}
#nomePersonagem{
    color: white;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: capitalize;
    text-align: center;
    padding-top: 10px;
}
.tipoUm, .tipoDois{
    color: white;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    text-align: center;
    margin-top: 10px;
}
.tipoUm, .tipoDois{
    width: 80px;
    height: 20px;
    padding-top: 5px;
    border: solid 5px black;
}